.cart-popup-enter {
  opacity: 0;
  transform: translateY(10px);
}

.cart-popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.cart-popup-exit {
  opacity: 1;
}

.cart-popup-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 200ms, transform 200ms;
}